/*
 * |---:[Đoạn này sẽ chứa các đoạn giới thiệu và thông tin về theme, như tên theme (Theme Name), tên tác giả (Theme Author), địa chỉ của tác giả (Author URI),...]:---|
 
 * Theme Name: ThachPham Theme
 * Description: Đây là một theme đơn giản để thực hành Lập trình theme WordPress
 * Theme URI: https://thachpham.com/serie/lap-trinh-theme-wordpress
 * Version: 1.0
 * Theme Author: ThachPham
 * Author URI: https://thachpham.com
 * Tags: starter theme, framework theme, two-columns, customize
 * Textdomain: thachpham
 */
 #user_login{
	 width: 100%;
	    height: 40px;
	    border-radius: 5px;
	    outline: none;
	    border: 1px solid #ced4da;
	    padding: 0px 10px;
  }
.email, .pass {
	display: inline-block;
    padding: 11px;
    margin-left: -41px;
    height: 40px;
}
#user_pass{
	 width: 100%;
	    height: 40px;
	    border-radius: 5px;
	    outline: none;
	    border: 1px solid #ced4da;
	    padding: 0px 10px;
  }
.login-password{
	margin-top: -20px
}
.login-remember{
	display: inline-block;
}
.login-submit {
	display: inline-block;
    float: right;
}
#wp-submit{
	padding: 5px 20px;
	background-color: #007bff;
	outline: none;
	border: #007bff;
}
.lockscreen-name{
	text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.edit_info{
	text-align: center;
}
#edit{
	background: gainsboro;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 5%;
    text-align: center;
    display: none;
}
#edit label{
	display: block;
}
#edit input{
	width: 250px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    
}